{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mimo{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "output.css" %}">
    <link rel="stylesheet" href="{% static "notyf.min.css" %}">
    <script src="{% static 'htmx.min.js' %}" defer></script>
    {% django_htmx_script %}
    <style>
      /* lora-latin-wght-normal */
      @font-face {
        font-family: 'Lora Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 400 700;
        src: url({% static "lora.woff2" %}) format('woff2-variations');
        unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
      }
    </style>
  </head>

  <body class="bg-body min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block topbar %}
      <c-topbar-admin />
    {% endblock topbar %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block js %}
    {% endblock js %}
    <script src="{% static 'notyf.min.js' %}"></script>
    <script>
      var notyf = new Notyf();
      document.addEventListener('toast', function(evt) {
        const toasts = evt.detail.toasts;
        // console.log(evt.detail.toasts)
        if(toasts && toasts.length > 0){
          for (let i = 0; i < toasts.length; i++) {
            // console.log("here")
            if(toasts[i].kind === "success"){
              notyf.success(toasts[i].text);
            }
          }
        }
      });
    </script>
  </body>

</html>

