{% load static django_htmx %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Mimo{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "output.css" %}">
    <link rel="stylesheet" href="{% static "notyf.min.css" %}">
    <script src="{% static 'htmx.min.js' %}"></script>
    {% django_htmx_script %}
    {% include "includes/lora_font.html" %}
  </head>

  <body class="bg-body min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block topbar %}
      <c-admin.topbar />
    {% endblock topbar %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    {% block js %}
    {% endblock js %}

    <script src="{% static 'notyf.min.js' %}"></script>
    <script>
      var notyf = new Notyf();
      document.addEventListener('toast', function(evt) {
        const toasts = evt.detail.toasts;
        if(toasts && toasts.length > 0){
          for (let i = 0; i < toasts.length; i++) {
            if(toasts[i].kind === "success"){
              notyf.success(toasts[i].text);
            }
            if(toasts[i].kind === "error"){
              notyf.error(toasts[i].text);
            }
          }
        }
      });
    </script>
  </body>

</html>

