{% extends "admin/base.html" %}
{% load widget_tweaks static partials %}
{% block title %}Create{% endblock title %}

{% block topbar %}
  <c-admin.t-editor />
{% endblock topbar %}

{% partialdef form-partial %}
  <form id="post-form" hx-post="{% url 'admin-create-post' %}" hx-swap="outerHTML">
    <div class="pb-6 flex space-x-6 items-center">
      <div>
        {% render_field form.status class="text-gray-900 bg-body text-sm rounded-lg inline-block outline-none" %}
      </div>
      <div class="font-bold">
        •
      </div>
      <div>
        <input
          id="id_pub_date"
          name="pub_date" value="{{post.pub_date|date:'Y-m-d H:i'}}"
          class="text-gray-900 bg-body text-sm rounded-lg inline-block outline-none"
          type="datetime-local"
        >
      </div>
    </div>
    {% render_field form.title class="bg-body w-full h-10 text-5xl font-bold outline-none" placeholder="Your title" %}
    <div class="text-red-500">
      {% for error in form.title.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
    <div class="py-12 font-lora">
      <textarea id="id_markdown" name="markdown" class="hidden"></textarea>
    </div>
    <div class="text-red-500">
      {% for error in form.markdown.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
  </form>
{% endpartialdef form-partial %}

{% block header %}
{% endblock header %}


{% block content %}
  <div class="max-w-screen-md mx-auto py-12 px-3 sm:px-0">
    {% partial form-partial %}
  </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block js %}
  <link rel="stylesheet" href="{% static "easymde.min.css" %}">
  <style>
    .CodeMirror {background: transparent; font-size: 20px;}
    .CodeMirror.cm-s-easymde.CodeMirror-wrap{padding: 0;}
    .EasyMDEContainer .CodeMirror{border: 0;}
    .CodeMirror-line{padding: 0;}
  </style>
  <script src="{% static "easymde.min.js" %}"></script>
  <script>
    function create_editor(content){
      const editor = new EasyMDE(
        {
          element: document.getElementById("id_markdown"),
          spellChecker: false,
          autoDownloadFontAwesome: false,
          toolbar: false,
          placeholder: "My awesome post..."
        }
      );
      editor.value(content ? content : "");
    }

    create_editor()

    document.addEventListener('create_editor', function(evt) {
      create_editor(evt.detail.content);
    });
  </script>
{% endblock js %}
