{% extends "blog/base.html" %}

{% block header %}
  <div>
    <nav class="max-w-screen-md mx-auto py-4">
      <a class="hover:underline inline-flex items-center space-x-2" href="{% url 'homepage' %}">
        {% heroicon_solid "chevron-left" size=16 %}
        <span>Home</span>
      </a>
    </nav>
  </div>
{% endblock header %}

{% block content %}
  <div class="{% if post.status == 'DR' %}bg-orange-50{% endif %}">
    <main class="max-w-screen-md mx-auto px-3 py-12">
      {% if post.status == 'DR' %}
        <div class="flex justify-between px-4 py-2 text-center font-bold bg-orange-500 mb-12">
          <p>DRAFT</p>
          <a class="hover:opacity-70 transition-opacity" href="{% url 'admin-edit-post' post.id %}">
            {% heroicon_outline "pencil" size=22 %}
          </a>
        </div>
      {% endif %}
      <h1 class="text-3xl font-bold text-center">{{post.title}}</h1>
      {% if subtitle %}
        <h2 class="text-xl text-center">{{post.subtitle}}</h2>
      {% endif %}
      <p class="text-gray-500 text-center mt-2">{{post.pub_date|date:"j F, Y H:i"}}</p>

      <div class="prose-xl mt-12">
        {{post.html|safe}}
      </div>
    </main>
  </div>
{% endblock content %}
