{% load heroicons %}

<nav class="flex justify-between px-4 py-3 max-w-screen-xl mx-auto">
  <div class="flex">
    <a href="{% url 'admin-posts' %}" class="font-bold text-gray-800 flex items-center space-x-2">
      {% heroicon_solid "chevron-left" size=16 %}
      <span>
        Posts
      </span>
    </a>
  </div>
  <div class="flex items-center space-x-4 justify-end">
    <c-button-link
      id="edit_link_see_post"
      form="post-form"
      variant="outline"
      text="See the post"
      href="{% url 'view-post-public' post.slug %}"
    />
  </div>
</nav>
